<!-- header included in every page links for login and register -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
</head>
<body>
  <!-- if the user is not logged in -->
  <% if (!user) { %>
    <!-- links to login and register -->
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  <!-- if the user is logged in -->
  <% } else { %>
    <form action= "/logout" method="POST" style="margin:150px;">
      <label for="user_id"><%= user.email %></label>
      <input type="submit" value="Logout">
    </form>
  <% } %>
</body>
</html>