<!-- this page is for udpating the long url of one particular url -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <style>
    th {text-align: left;}
  </style>
</head>
<body>
    <%- include ./partials/_header.ejs %>
    <% if (!user) { %>
      <h3>Please log in or register to udpate your urls.</h3>
    <% } else if (!urls[shortURL]) { %>
      <h3>The shortURL does not exist. </h3>
    <% } else if (urls[shortURL].userID === user.id) { %>
    <!-- present the short url -->
    <p><%= "ShortURL: " + shortURL %></p>
    <!-- present table with url details -->
    <table style="width:35%">
      <tr>
        <th>
          <!-- present the short url -->
          <form method="POST" action="<%= "/urls/" + shortURL %>">
            <label for="longURL">Enter a URL:</label>
            <!-- input field for updating the long url -->
            <input id="longURL" type="text" name="longURL" placeholder="<%= urls[shortURL].longURL %>" style="width: 300px">
            <!-- Update button -->
            <input type="submit" value="Update">
          </form>
        </th>
      </tr>
    </table>
    <% } else { %>
      <h3>You can only see the urls that you have registered.</h3>
    <% } %>
</body>
</html>