<!-- this page is for udpating the long url of one particular url -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <style>
    th {text-align: left;}
  </style>
</head>
<body>
    <%- include ./partials/_header.ejs %>
    <!-- present the short url -->
    <p><%= "ShortURL: " + shortURL %></p>
    <!-- present table with url details -->
    <table style="width:35%">
      <tr>
        <th>
          <!-- present the short url -->
          <form method="POST" action="<%= "/urls/" + shortURL %>">
            <label for="longURL">Enter a URL:</label>
            <!-- input field for updating the long url -->
            <input id="longURL" type="text" name="longURL" placeholder="      <%= urls[shortURL] %>" style="width: 300px">
            <!-- Update button -->
            <input type="submit" value="Update">
          </form>
        </th>
      </tr>
    </table>
</body>
</html>