<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <style>
    th {text-align: left;}
  </style>
</head>
<body>
    <%- include ./partials/_header.ejs %>
    <table style="width:50%">
      <% for(var url in urls) { %>
      <tr>
        <th><a href="<%= JSON.stringify(url) %>"><%= "//http:localhost:8080/" + url %></a></th>
        <th><%= "(" + urls[url] + ")" %></th>
        <th><button type="button">Edit</button>
            <button type="button">Delete</button></th>
      </tr>
      <% }; %>
    </table>
</body>
</html>